{% extends 'base.html.twig' %}

{% block title %}Dodaj zestaw do listy życzeń!{% endblock %}

{% block body %}

<a href="/wishlist">Powrót do listy życzeń!</a>

<div class="error">
    {{ message }}
</div>

{{ form(form) }}

{% endblock %}
